h1 {
  padding: 20px;
  margin: 0px 10px;
}

.form-container {
  display: flex;
}

label {
  /* padding: 10px; */
  margin: 0px 20px;
  font-size: 150%;
}

#web_form {
  display: flex;
  flex-direction: column;
}

form input {
  /* incease width  */
  width: 1300px;
  /* increase size inside of box */
  font-size: 20px;
  /* inside box margin */
  padding: 10px;
  /* first 10px is for top-bottom and last 20px is for left-Right */
  margin: 10px 20px;
  /* to round the shape of input box */
  border-radius: 7px;

  /* To make similar border line use border */
  border: none;
  border: 2px solid grey;
}

#submit-btn {
  width: 130px;
  background-color: rgb(120, 124, 195);
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}
